body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #f4f4f4;
    padding: 20px;
}

.profile-container {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Align items to the extreme left */
    max-width: 1200px;
    margin: auto;
}

.profile-picture {
    width: 150px;
    height: 150px;
    margin-right: 20px;
    object-fit: cover; /* Ensures the image covers the box without stretching */
    object-position: top; /* Adjust the position to show the top part of the image */
}

.profile-details {
    flex: 1; /* Allows the text container to take remaining space */
}

.projects {
    max-width: 800px;
    margin: 20px auto;
}

.projects-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.education {
    max-width: 800px;
    margin: 20px auto;
}

.education-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.download-button {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
}

.download-button:hover {
    background-color: #0056b3;
}

.project {
    background-color: #e2e2e2;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.education {
    background-color: #e2e2e2;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

@media (max-width: 600px) {
    .profile-container {
        flex-direction: column;
        align-items: center;
    }

    .profile-picture {
        width: 100px;
        height: 100px;
        margin-right: 0;
        margin-bottom: 10px;
    }

    header h1 {
        font-size: 1.5em;
    }

    header p, .project p {
        font-size: 0.9em;
    }

    th, td {
        font-size: 0.8em;
    }

    .projects-header {
        flex-direction: column;
        align-items: flex-start;
    }

    .education-header {
        flex-direction: column;
        align-items: flex-start;
    }

    .download-button {
        margin-top: 10px;
    }
    .arrow-list {
        list-style-type: none;
        padding: 0;
    }
    
    .arrow-list li:before {
        content: "→"; /* Unicode for right arrow */
        margin-right: 5px; /* Add some space between arrow and text */
    }

    #rightAlignedHeader {
        text-align: right;
        margin: 0; /* To remove any default margin */
    }
    
}
